.details-container {
  background-color: #f2f2f2;
}
.smalldiv p {
  font-size: 12px;
  color: #4a4a4a;
  line-height: 1.4em;
}

.smalldiv h5 {
  font-weight: 800;
  font-size: 10px;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.smalldiv p span:hover {
  cursor: pointer;
  color: rgb(71, 71, 221);
}
