.qna-container {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-bottom: 100px;
  

}
h4 {
    display: block;
    /* margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: 600;
}
.qna-hr {
  width: 86%;
  background-color: rgb(180, 179, 179);
  height: 0.5px;
  margin-bottom: 30px;
}
.qna-top {
  display: flex;
  gap: 250px;
  margin: 80px;
}

.qna-botom {
  display: flex;
  gap: 250px;
  margin: 20px;
}

.qna-left p {
  font-size: 12px;
  margin-top: 20px;
  color: #4a4a4a;
  line-height: 1.5em;
  
}

.qna-right p {
  font-size: 12px;
  margin-top: 20px;
  color: #4a4a4a;
  line-height: 1.5em;
}

@media (min-width: 768px) and (max-width: 1250px) {
  .qna-container {
    padding: 0px 0px 50px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .qna-container {
    width: 100%;
    padding: 0px 0px 50px 0px;
  }

  .qna-top {
    padding: 0px 20px 0px 20px;
  }

  .qna-bottom {
    padding: 0px 20px 0px 20px;
  }
}
